div.world-map {
    --scale-value: 0.9;

    position: relative;

    /* background-image: url("./pics/papyrus.jpg"); */
    /* background-size: cover; */
    /* box-shadow: inset 0 0 5rem 2rem #0008; */

    flex: 2 2 auto;
    max-width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &>div.nodes {
        position: relative;
    }

    &>div.line-v {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 5px);
        width: 10px;
        background: #0004;
    }

    &>div.line-h {
        position: absolute;
        top: calc(50% - 5px);
        left: 0;

        width: 100%;
        height: 10px;
        background: #0004;
    }

    &>div.map-title {
        font-family: "Tangerine", "Times New Roman", Serif;
        position: absolute;
        color: #FFF8;
        font-size: 6rem;
        bottom: 3rem;

        text-shadow: var(--text-stroke-large);
        letter-spacing: 2px;
        /* text-transform: uppercase; */
    }

    &>div.nodes>div.location-node {
        position: absolute;

        /* Width and height are set in the component */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>div.icon {
            position: absolute;
            top: 0;
            left: 15%;
            right: 15%;
            height: 70%;

            border: groove 3px #420A;
            border-radius: 50%;
            box-shadow: inset 0 0 2rem 1rem #FCC4;

            overflow: hidden;

            &>img {
                width: 80%;
                height: 80%;
                margin: 10%;
                filter: opacity(0.65);
            }
        }

        &>div.name {
            position: absolute;
            top: 75%;

            width: auto;
            overflow: visible;

        }

        &.selectable {

            cursor: pointer;
            &>div.icon {
                /* border: groove 3px #2C28; */
                border: groove 3px #0004;
                background: linear-gradient(0deg, #222 0, #444 10%, #888 20%, #EEE 50%, #888 100%);
                /* background: radial-gradient(#888 0%, #EEE 50%, #888 80%, #444 100%); */
                filter: sepia(25%);
                /* box-shadow: inset 0 0 2rem 1rem #0004, 0 0 1rem 0.5rem #fff8; */
                /* background: #4A48; */
                animation: pulseWhite 2s infinite alternate;
                
            }

            &:hover {

                &>div.icon {
                    filter: sepia(45%);
                }

            }
        }

        &.locked {

            &>div.icon {
                border: groove 3px #420A;
                box-shadow: inset 0 0 2rem 1rem #0006;

            }

            &>div.locked {
                position: absolute;
                top: 41%;
                left: 30%;
                width: 40%;
                z-index: 10;

                &>img {
                    width: 100%;
                    opacity: 0.75;
                }

            }
        }

        &.active {
            cursor: pointer;
            &>div.icon {
                background: linear-gradient(0deg, #123 0, #345 10%, #789 20%, #DEF 50%, #789 100%);
                /* background: #CEF8; */
                filter: sepia(5%);
                /* box-shadow: inset 0 0 1rem 0.5rem #0008, 0 0 2rem 1rem #fffA; */
            }
        }

        &.completed {
            &>div.icon {
                background: #4744;
                box-shadow: inset 0 0 1rem 0.5rem #000A, 0 0 1rem 0.5rem #464A;
            }

        }

        &.passedby {
            opacity: 0.25;
        }

        &>.active-ring {
            position: absolute;

            top: -15%;
            left: 0;
            right: 0;
            height: 100%;

            border: dashed 10px #000A;

            border-radius: 50%;

            animation: rotateRing 30s infinite linear;
        }

        &>.start-text {
            position: absolute;
            top: 0;
            left: 15%;
            width: 70%;
            height: 70%;
            margin: 0;
            padding: 0;
            z-index: 100;

            font-family: "Lobster Two", "Times New Roman", Serif;
            font-size: 3rem;
            color: #FFF;
            font-weight: bold;
            text-shadow: var(--text-stroke-large);
            letter-spacing: 1px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            opacity: 0.75;

            &>span {
                font-size: 1.25rem;
            }
        }

        &>div.completed {
            position: absolute;
            top: 37%;
            left: 17%;
            width: 50%;
            z-index: 10;

            &>img {
                width: 100%;
                opacity: 0.75;
            }

        }

    }
}

@keyframes pulseWhite {

    from {
        /* box-shadow: inset 0 0 2rem 1rem #FCC6, 0 0 1rem 0.5rem #FFF8; */
        box-shadow: 0 0 1rem 0.5rem #FFF8;
        transform: scale(1);
    }

    to {
        /* box-shadow: inset 0 0 2rem 1rem #FCC9, 0 0 3rem 1rem #FFFE; */
        box-shadow: 0 0 3rem 1rem #FFFE;
        transform: scale(1.05);
    }
}

@keyframes rotateRing {



    0% {
        transform: rotate(0deg) scale(1);
        border: dashed 10px #000A;
    }

    10% {
        transform: rotate(36deg) scale(var(--scale-value));
        border: dashed 10px #0048;
    }

    20% {
        transform: rotate(72deg) scale(1);
        border: dashed 10px #000A;
    }

    30% {
        transform: rotate(108deg) scale(var(--scale-value));
        border: dashed 10px #0048;
    }

    40% {
        transform: rotate(144deg) scale(1);
        border: dashed 10px #000A;
    }

    50% {
        transform: rotate(180deg) scale(var(--scale-value));
        border: dashed 10px #0048;
    }

    60% {
        transform: rotate(216deg) scale(1);
        border: dashed 10px #000A;
    }

    70% {
        transform: rotate(252deg) scale(var(--scale-value));
        border: dashed 10px #0048;
    }

    80% {
        transform: rotate(288deg) scale(1);
        border: dashed 10px #000A;
    }

    90% {
        transform: rotate(324deg) scale(var(--scale-value));
        border: dashed 10px #0048;
    }

    100% {
        transform: rotate(360deg) scale(1);
        border: dashed 10px #000A;
    }
}