div.arena {
    height: 100vh;

    & > div.large-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 8rem;
        font-weight: bold;
        letter-spacing: 0.5rem;

        z-index: 100;


        & > span {
            width: 100%;
            text-align: center;
            padding: 3rem;
            background: linear-gradient(90deg, #0008 0%, #000 40%, #000 60%, #0008 100%);
            border-top: groove 5px #0004;
            border-bottom: groove 5px #0004;
            
        }

        &.victory {
            font-family: "Times New Roman", serif;
            color: gold;
            text-shadow: var(--text-stroke-large);

            & > span {
                background: linear-gradient(90deg, #2208 0%, #000 40%, #000 60%, #2208 100%);
                box-shadow: inset 0 0 1rem 0.5rem #8802;
            }
        }

        &.dead {
            font-family: "Times New Roman", serif;
            color: red;
            text-shadow: var(--text-stroke-large);
            
            & > span {
                background: linear-gradient(90deg, #2008 0%, #000 40%, #000 60%, #2008 100%);
                box-shadow: inset 0 0 1rem 0.5rem #8002;
            }
        }
    }
}



.enemies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}



.lefthand {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 46%;
    padding: 0.5rem;
    padding-top: 3rem;

    background: linear-gradient(0deg, #44554488, #66886688);
    box-shadow: inset 0 0 1rem 0.25rem #FFFFFF33, 0 0 1rem 0.5rem #00000033;

    /* border-top-right-radius: 5% 50%; */
    border-top-left-radius: 90% 25%;
    padding-right: 2rem;
}

.lefthand > div, .righthand > div {
    z-index: 20;
}

.righthand {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 46%;
    padding: 0.5rem;
    padding-top: 3rem;

    /* background: #00000022; */
    /* background: linear-gradient(0deg, #444, #667); */
    background: linear-gradient(0deg, #44554488, #66886688);
    box-shadow: inset 0 0 1rem 0.25rem #FFFFFF33, 0 0 1rem 0.5rem #00000033;

    /* border-top-left-radius: 5% 50%; */
    border-top-right-radius: 90% 25%;
    padding-left: 2rem;
}

.deck {
    background: #FFFFFF55;
    box-shadow: inset 0 0 0.3rem 2px #FFFFFF33;

    border: solid 1px black;


    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(var(--cardSize) * 0.45);
    height: calc(var(--cardSize) * 1.6 * 0.45);

    font-size: 1.6rem;
    color: black;
    font-weight: bold;

    margin: 0.5rem 0;

}

.deck.discard {
    background: #00000022;
    box-shadow: inset 0 0 0.3rem 2px #00000033;

}