.enemy {
    border: solid 1px black;
    border-radius: 0.5rem;
    /* padding: 0.5rem; */
    width: var(--cardSize);
    height: calc(var(--cardSize) * 1.6);

    background: #885533;
    color: black;
    font-size: 12px;


    box-shadow: inset 0 0 0.5rem 3px #FFFFFF44, 0.25rem 0.25rem 1rem 0.5rem #00000088;

    position: relative;

    transition: all 0.25s ease-in-out;
}

.enemy.isOverTrue {
    box-shadow: inset 0 0 0.5rem 3px #00000088, 0.25rem 0.25rem 1rem 0.5rem #00000088, 0 0 2rem 1rem #88FF88;
    transform: scale(1.2);
}

.enemy.invalid-target {
    /* box-shadow: inset 0 0 0.5rem 3px #00000088, 0 0 2rem 1rem #FF8888; */
    box-shadow: inset 0 0 0.5rem 3px #FFFFFF44, 0.1rem 0.1rem 1rem 0.5rem #00000088;
    opacity: 0.7;
    transform: scale(0.8);
}

.enemy.valid-target {
    box-shadow: inset 0 0 0.5rem 3px #FFFFFF44, 0.5rem 0.5rem 1rem 0.5rem #00000088, 0 0 2rem 1rem #FFFFFF88;
    transform: scale(1.1);
}

.enemy.is-dead {
    box-shadow: inset 0 0 0.5rem 3px #00000044, 0.1rem 0.1rem 0.5rem 0.25rem #00000088;
    transform: perspective(400px) rotateX(50deg) scale(0.8);
    filter: grayscale(100%);
}

.enemy.is-dead::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    background-image: url("./icons/grimreaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.enemy.is-stunned {
    /* transform: grayscale(100%); */
    transform: perspective(400px) rotateX(25deg);
    filter: grayscale(75%) blur(1px);
}

.enemy.is-stunned::after {
    content: "";
    position: absolute;
    top:0;
    left:-2rem;
    right:-2rem;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    background-image: url("./icons/stunned.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.enemy.is-frozen {
    transform: perspective(400px) rotateX(25deg);
    filter: sepia(75%) hue-rotate(180deg);
}

.enemy.is-frozen::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    background-image: url("./icons/frozen.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.enemy.is-burning {
    /* filter: sepia(75%) hue-rotate(320deg); */
    
}

.enemy.is-burning::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    background-image: url("./icons/burning.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    opacity: 0.7;
    
}

.enemy.is-poisoned {
    z-index: 10;
}
/* 
.enemy.is-poisoned::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    background-image: url("./icons/blackbox.png");
    background-blend-mode: hue;
    opacity: 0.5;

    z-index: 15;
} */

.enemy.is-poisoned::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    background-image: url("./icons/poisonedlarge.png");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: initial;
    z-index: 20;
}

.enemy>.data {
    position: relative;
    height: 100%;
    z-index: 10;
}

.enemy>.data>h1 {
    font-size: calc(var(--cardSize) / 6);
    margin: 0;
    font-weight: bold;
    padding: 0.25rem;
    z-index: 10;

    text-align: center;
    background: #00000055;
    color: white;
}

.enemy>.data>.health {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    color: red;
    padding: 0.5rem;
    z-index: 10;
}

.enemy>.data>footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00000055;
}

.enemy>.data>footer>div {
    width: 33%;
    text-align: center;
}

.enemy>.data>footer>div img {
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;

}

.enemy>.data>footer>.att {
    position: relative;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0 6px #000000;
    z-index: 10;
}

.enemy>.data>footer>.health {
    position: relative;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0 6px #000000;
    z-index: 10;
}

.enemy>img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 2rem;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.enemy > .next-action {
    
    position: absolute;
    right: -7.6rem;
    top: 0;
    text-align: center;
    width: 8rem;
    height: 8rem;
    font-size: 0.9rem;
    font-weight: bold;
    
    background-image: url("./icons/chat.png");
    background-size: cover;

    display: flex;
    
    justify-content: center;
    align-items: center;

    padding: 0 0 2.5rem 0.75rem;

    transform: rotate(15deg);
    /* color: white; */
    /* box-shadow: inset 0 0 0.5rem 3px #00000088, 0.25rem 0.25rem 6px 3px #00000033; */
    /* border-radius: 1rem; */
}

.enemy.no-action > .next-action {
    opacity: 0.5;
    
}