.hero-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    /* padding-bottom: 0.5rem; */
    /* overflow: hidden; */
    z-index: 10;

    background: linear-gradient(0deg, #444 0, #888 1.25rem, #EEE 3rem, #888 6rem);
    filter: sepia(25%);

    border-top-left-radius: 30% 100%;
    border-top-right-radius: 30% 100%;

    &>div {
        /* flex: 0 0 auto; */
        /* margin: 0 1rem; */
    }


    &>div.value {
        position: relative;

        height: 6rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0 2rem;

        border-left: solid 5px #0008;
        border-right: solid 5px #0008;

        /* border-radius: 2rem; */


        box-shadow: inset 0 0 0.5rem 3px #0003;

        &.health {
            background: #4002;
        }

        &.energy {
            background: #8802;
            border-right: none;
            /* border-top-right-radius: 0; */
            /* border-bottom-right-radius: 0; */
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;

        }

        &.armor {
            background: #0042;
            border-left: none;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
        }

        &>div.icon {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                height: 80%;
            }

            margin-right: 0.5rem;
        }

        &>div.values {

            &>span.main {
                font-size: 3rem;
                color: #000;
                ;
                font-weight: bold;
                text-shadow: 0 0 3px #FFF;
            }

            &>span.base {
                font-size: 1.5rem;
                font-weight: bold;
                color: #000A;
                text-shadow: 0 0 1px #FFFA;
            }
        }
    }

    &>div.small-value {
        height: 3rem;


        margin: 0 1rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background: #0004;
        border-radius: 1.5rem;
        border-bottom-left-radius: 40% 1.5rem;
        border-bottom-right-radius: 40% 1.5rem;
        box-shadow: inset 0 0 6px 3px #0004;
        padding: 0.5rem 0.5rem;

        & > div {

            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 0 0.5rem;

            &.icon {
                height: 3rem;
            
                &>img {
                    height: 2.5rem;

                }
            }

            &.value {

            
                height: 3rem;
                font-size: 1.5rem;
                font-weight: bold;
                color: #000A;
                text-shadow: 0 0 3px #FFF;
                /* margin-left: 0.5rem; */
                padding: 0 0.5rem;
                border-left: groove 2px #0002;

            }
        }



    }
}