
div.market-item-card {

    position: relative;
    
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    
    & > * {
        margin: 0.5rem 0;
    }

    & > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        & > span {
            color: #FFFF00;
            /* font-weight: bold; */
            /* font-size: 1.5rem; */
            margin-left: 0.25rem;
        }

        & > img {
            height: 2rem;
            margin: 0;
            margin-left: 0.25rem;
            padding: 0;
        }
    }

    &.sold {
        /* filter: grayscale(50%);
        opacity: 0.75; */

        &:after {
            content: "SOLD";
            position: absolute;
            top: 30%;
            left: 1rem;
            height: 4rem;
            width: 8rem;

            z-index: 10;

            background: #F004;

            color: #F00C;
            font-size: 3rem;
            font-weight: bold;

            padding: 0.5rem;
            border: solid 4px #F00C;
            border-radius: 1rem;

            transform: rotate(-15deg);
        }
    }



}