div.player-effects-display {
    position: absolute;
    bottom: 270px;
    left: 40%;
    width: 20%;
    min-height: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    /* background: #FFF3; */
    /* border: solid 3px pink; */

    &>div.player-effect {
        color: #FFFC;
        font-size: 2rem;

        text-align: center;
        width: 100%;


        container-type: inline-size;

        &.warn {
            color: #F80;
        }

        &>p {
            font-size: 1.5rem;
        }


        @container (width < 300px) {

            &>p {
                font-size: 1rem;
            }
        }
    }


}