div.world-map {

    position: relative;

    background-image: url("./pics/papyrus.jpg");
    background-size: cover;
    box-shadow: inset 0 0 5rem 2rem #0008;

    flex: 2 2 auto;
    max-width: 66%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &>div.nodes {
        position: relative;
    }

    &>div.line-v {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 5px);
        width: 10px;
        background: #0004;
    }

    &>div.line-h {
        position: absolute;
        top: calc(50% - 5px);
        left: 0;

        width: 100%;
        height: 10px;
        background: #0004;
    }

    &>div.map-title {
        font-family: "Tangerine", "Times New Roman", Serif;
        position: absolute;
        color: #FFF8;
        font-size: 6rem;
        bottom: 3rem;

        text-shadow: var(--text-stroke-large);
        letter-spacing: 2px;
        /* text-transform: uppercase; */
    }

    &>div.nodes>div.location-node {
        position: absolute;

        /* Width and height are set in the component */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* border: solid 1px pink; */

        &>div.icon {
            position: absolute;
            top: 0;
            left: 15%;
            right: 15%;
            height: 70%;

            border: groove 3px #420A;
            border-radius: 50%;
            box-shadow: inset 0 0 2rem 1rem #FCC4;
            /* border-top-left-radius: 25% 50%; */
            /* border-top-right-radius: 25% 50%; */


            overflow: hidden;


            /* background: radial-gradient(#228B22, #1b6f1b); */

            /* box-shadow: inset 0 0 4px 2px #0008; */

            &>img {
                width: 80%;
                height: 80%;
                margin: 10%;

                filter: opacity(0.9);
                /* filter: invert(1) drop-shadow(0 0 3px #0008); */
                /* filter: invert(1) opacity(0.9) drop-shadow(0 0 3px #0008); */
            }

        }

        &>div.name {
            position: absolute;
            top: 75%;

            width: auto;
            overflow: visible;


            /* text-align: center;
            font-weight: bold;

            color: #FFFA;
            text-shadow: var(--text-stroke-small);
            text-transform: uppercase;
            letter-spacing: 1px;

            background: #000;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            border-top-right-radius: 50% 10%;
            border-top-left-radius: 50% 10%;

            z-index: 10; */


        }

    }
}