div.character-sheet {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& > div.health-meters {
		position: relative;
		height: 210px;
		width: 250px;
		border: solid 3px #0008;

		border-top-left-radius: 50% 60%;
		border-top-right-radius: 50% 60%;

		border-bottom-right-radius: 18% 40%;
		border-bottom-left-radius: 18% 40%;

		background: radial-gradient(#840d, #420d 70%, #100d 100%);

	

		& > div.value-circle {
			&.health {
				position: absolute;
				top: 25px;
				left: 25px;
			}

			&.block {
				position: absolute;
				top: 15px;
				left: 15px;
			}

			&.dodge {
				position: absolute;
				top: 0;
				left: 0;
			}

            &.armor {
                position: absolute;
                top: 100px;
                left: 65px;
            }
		}
	}

	& > h1 {
		font-family: "Tangerine", cursive;
		font-size: 4rem;
		font-weight: normal;

		color: #fffd;
		text-shadow: var(--text-stroke-large);
	}

	& > h2 {
		font-family: "Lobster Two", cursive;
		font-size: 1.25rem;
		font-weight: normal;

		color: #fffa;
		text-shadow: var(--text-stroke-large);
	}

	& > div.attributes {
		display: flex;
		flex-direction: column;

		margin: 1rem;

		& > h3 {
			font-family: "Lobster Two", cursive;
			font-size: 1.25rem;
			font-weight: normal;
			color: #fffa;
			text-shadow: var(--text-stroke-large);
			margin: 1rem 0 0.5rem 0;
		}

		& > div {
			position: relative;
			/* border-bottom: solid 1px #0008; */
			color: white;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			background: #0003;

			text-shadow: var(--text-stroke-small);

			margin: 0 0 3px 0;
			padding: 0;
			border-radius: 1rem;

			overflow: hidden;

			& > div.info {
				width: 10rem;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				padding-right: 0.5rem;

				font-family: "Lobster Two", cursive;
				font-size: 1.25rem;

				background: #0004;

				& > img {
					height: 4rem;
					padding: 0.5rem;
					background: #0008;
					border-radius: 1rem;
					margin-right: 1rem;
				}
			}

			& > div.value {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				padding: 0 1rem;
				font-family: "Arial", cursive;
				font-size: 2rem;
				font-weight: bold;

				& > div.maxValue {
					font-size: 1rem;
					font-weight: normal;
					color: #fffa;
					margin-left: 1rem;
				}
			}
		}
	}

	&.full {
		margin-top: 10rem;
	}
}
