div.character-sheet {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;



	&>h1 {
		font-family: "Tangerine", cursive;
		font-size: 4rem;
		font-weight: normal;

		color: #fffd;
		text-shadow: var(--text-stroke-large);
	}

	&>h2 {
		font-family: "Lobster Two", cursive;
		font-size: 1.25rem;
		font-weight: normal;

		color: #fffa;
		text-shadow: var(--text-stroke-large);
	}

	&>div.content {
		width: 100%;

		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin: 1rem;

		h3 {
			font-family: "Lobster Two", cursive;
			font-size: 1.25rem;
			font-weight: normal;
			color: #fffa;
			text-shadow: var(--text-stroke-large);
			margin: 1rem 0 0.5rem 0;
		}

		& > div {
			margin: 0 1rem;
			flex: 1 1 auto;
			// border: solid 3px #0008;
			
			

			&.inventory-container {
				flex: 0 0 auto;
				width: 50rem;
			}
		}

	}

	&>div.content>div.attributes {
		display: flex;
		flex-direction: column;

		// margin: 1rem;

		&>div {
			position: relative;
			/* border-bottom: solid 1px #0008; */
			color: white;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			background: #0003;

			text-shadow: var(--text-stroke-small);

			margin: 0 0 3px 0;
			padding: 0;
			border-radius: 1rem;

			overflow: hidden;

			&>div.info {
				width: 10rem;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				padding-right: 0.5rem;

				font-family: "Lobster Two", cursive;
				font-size: 1.25rem;

				background: #0004;

				&>img {
					height: 4rem;
					padding: 0.5rem;
					background: #0008;
					border-radius: 1rem;
					margin-right: 1rem;
				}
			}

			&>div.value {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				padding: 0 1rem;
				font-family: "Arial", cursive;
				font-size: 2rem;
				font-weight: bold;

				&>div.maxValue {
					font-size: 1rem;
					font-weight: normal;
					color: #fffa;
					margin-left: 1rem;
				}
			}
		}
	}


	& > div.content > div.equipped-container {


		& > div.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			& > button {
				margin-top: 1rem;
			}

		}

		

	}


	&.full {
		margin-top: 10rem;
	}
}