* {
  box-sizing: border-box;
}

:root {
  --cardSize: 100px;
  font-size: 12px;
  box-sizing: border-box;

  --hero-blue: #ADD8E6;
}


div.main-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}